<!DOCTYPE html>
<html>
<head>
  <title>ModelTw</title>
  <link href="/assets/common.css" media="screen" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Admin Panel </h1>
<%= render :partial => "layouts/sign" %>

<%= yield %>

</body>
</html>
